<html>
    <header>
        <title>{{ title }}</title>

        <link rel="stylesheet" href="/static/main.css" type="text/css">
    </header>

    <body>
        <h1>The name of the framework is {{ name }}</h1>
    </body>
</html>